@import '../theme/theme';

#navbar {
  #navcontainer {
    position: sticky;
    background-color: $bg-d;
    border-bottom: '1px solid $text-light';
    display: flex;
    flex-direction: row;
    #parent {
      #brand {
        font-family: $primary-font;
        font-size: 1.6rem;
        padding-left: 0.4rem;
        color: $white;
      }
      #brand:hover {
        text-decoration: underline;
      }
    }
    div {
      #listItem {
        margin: 0 1rem 0 0;
        padding: 0;
      }
      .navLink {
        font-weight: bold;
        color: $bg-dark;
      }
      #list {
        font-size: 2rem;
      }
      #link {
        font-size: 1rem;
      }
    }
  }
}
