@import '../theme/theme';

  .label {
    width: 100%;
    margin: 1.6rem 1.2rem 0.2rem 1.2rem;
    color: $bg-m;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 0.8rem;
    padding-bottom: 0.34rem;
    border-bottom: calc(0.3px + 0.02em) solid #e5e5e5;
    .span {
      font-weight: 400;
      color: $secondary;
    }
  }

#form {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 0.5rem 2rem 0 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin: 2rem 0 1.5rem 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 18px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 12px -8px;
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.4rem 0 0.8rem 0;
    #radio {
      height: 100%;
      display: flex;
      flex-direction: column;
      .field {
        width: 100%;
      }
      .radiolabel {
        width: 100%;
      }
    }
  }
  .formButton {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    button {
      padding: 0;
      border-radius: 3px;
      width: 76px;
      height: 38px;
      align-self: flex-start;
      background-color: $secondary;
    }
    #iconButton {
      padding: 0;
      border-radius: 3px;
      width: 76px;
      height: 38px;
      align-self: flex-start;
      background-color: $secondary;
    }
  }
}
#inputm, #inputn, #inputr {
  width: 100%;
  margin: 0.6rem 0 0.6rem 0;
}
.field {
  color: $text-secondary;
  font-size: 1.1rem;
  margin: 0;
  padding: 0.5rem 0 0.3rem 0;
  text-align: left;
}
#isa {
  background-color: $ui-primary;
}
