@import '../theme/theme';

.container {
  margin: 0.5rem 0 0 0;
  padding: 0 0 0.75rem 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  .header {
    .title {
      font-size: 2rem;
      color:$bg-d;
      text-align: center;
      padding-bottom: 0.44rem;
      font-weight: bold;
      margin: 0.8rem 0 0 0;
      border-bottom: calc(0.3px + 0.02em) solid $bg-m;
    }
  }
  #grid {
    .cardContainer {
      #card {
        padding: 1rem 1.7rem 3rem 1.7rem;
        width: 500px;
        background-color: $bg-d;
        #cardTitle {
          padding: 1rem;
          margin: 0 0 1rem 0;
          text-align: justify;
          .span {
            color: $primary;
            font-weight: bold;
            text-decoration: underline;
          }
        }
        #child {
          .listContainer {
            #list {
              margin: auto;
              width: 85%;
              .item {
                color: $light;
                font-weight: 400;
                .modal {
                  font-size: 1.1rem;
                  text-decoration: none;
                  .span {
                    text-align: left;
                    color: $ui-primary;
                    font-weight: bold;
                  }
                }
              }
              .item:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
