@import '../theme/theme';

.container {
  width: 90vw;
  max-width: 900px;
  margin: 0.5rem 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #space {
    height: 25px;
  }
  .parent {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .header {
      width: 100%;
      margin: 0.65rem 0 1rem 0;
      .title {
        font-family: $primary-font;
        text-align: justify;
        margin: 0.4rem;
        color: $bg-m;
        font-size: 1.8rem;
        padding-bottom: 0.34rem;
        border-bottom: calc(0.3px + 0.02em) solid $border-color;
      }
    }
    .chartContainer {
      margin: 2rem 0 0 0;
      padding: 0;
    }
  }
}