@import '../theme/theme';

#back {
  position: absolute;
  margin: 0;
  background-color: $secondary;
  color: $light;
  border: 0;
  left: 2%;
  top: 10%;
}

.parent {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0.2rem 0 0.2rem;
  padding: 0.22rem;
  align-items: center;
  justify-content: center;
  .header {
    width: 50vw;
    margin: 0.3rem 0 0 0;
    .title {
      text-align: center;
      margin: 0;
      color: $bg-d;
      font-size: 1.8rem;
      padding-bottom: 0.34rem;
      .span {
        font-weight: bold;
        color: $secondary;
      }
    }
    .currentStep {
      text-align: justify;
      margin: 0.4rem;
      color: $text-secondary;
      font-size: 1.15rem;
      .span {
        font-weight: bold;
        color: $secondary;
      }
    }
    .subtitle {
      text-align: center;
      margin: 0.4rem 0 0 0;
      color: $text-secondary;
      font-size: 1.2rem;
    }
  }
  .heading {
    margin: 1.3rem 0 0 0;
    color: $bg-d;
    width: 80%;
    text-align: left;
    font-size: 1.5rem;
    padding: 0 0 0.3rem 0;
    border-bottom: calc(0.3px + 0.02em) solid #e5e5e5;
    align-items: stretch;
    .conditional {
      font-weight: bold;
      font-size: 1.5rem;
      color: $secondary;
      text-align: right;
    }
  }
  #grid {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    .column {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 400px;
      min-height: 256.2px;
      padding: 1rem;
      margin: 1rem;
      border-radius: 10px;
      border: 1px solid $border-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      transition-delay: 0.15s, 0.05s;
      transition-duration: 1s, 0.1s;
    }
    .column:hover {
      cursor: pointer;
      border: 1px solid $secondary;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    #image {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1;
      border-radius: 7px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
      padding: 2rem;
      background-color: $white;
      .img {
        border: 0;
        padding: 0.5rem;
      }
    }
  }
}